#viewDiv {
    height: 100vh;
}
.widget-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    z-index: 99;
}
.layer-selector {
    display: none;
    margin-top: 10px;
}
button {
    margin-bottom: 5px;
    width: 100%;
}
select {
    width: 100%;
}