/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo global y estilo de fuente */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Estilo del encabezado */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004C77; /* Color profesional para el encabezado */
    padding: 10px 0;
    position: relative;
    z-index: 10;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Estilo de la imagen circular en el encabezado */
.header img {
    width: 50px; /* Tamaño moderado para el logo */
    height: 50px;
    border-radius: 50%; /* Hace la imagen circular */
    margin-left: 20px; /* Espacio entre la imagen y el título */
}

/* Estilo del título */
.header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    flex-grow: 1; /* Esto hace que el título se centre automáticamente */
}

/* Mapa (ViewDiv) */
#viewDiv {
    flex-grow: 1;
    background-color: #e9eff1; /* Color suave de fondo para el mapa */
    height: calc(100vh - 60px); /* El mapa ocupa el espacio restante */
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Widget de resultados */
#resultado-estaciones {
    margin-top: 1vh;
    margin-left: 5%;
    position: fixed;
    top: 80px; /* Colocamos este div justo debajo del encabezado */
    left: 20px; /* Espacio desde el borde izquierdo */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con transparencia */
    color: #ffffff;
    padding: 20px;
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil para destacar el div */
    z-index: 15;
    max-height: calc(100vh - 100px); /* Asegura que no se desborde en pantallas pequeñas */
    overflow-y: auto; /* Añade scroll si el contenido es muy largo */
}

/* Estilo para el título dentro del div #resultado-estaciones */
#resultado-estaciones h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #f1f1f1;
}

/* Estilo para los párrafos dentro del div #resultado-estaciones */
#resultado-estaciones p {
    font-size: 14px; /* Texto legible pero no tan grande */
    color: #dcdcdc;
    margin-bottom: 10px;
}

#resumen {
    margin-top: 26vh;
    margin-left: 5%;
    position: fixed;
    top: 80px; /* Colocamos este div justo debajo del encabezado */
    left: 20px; /* Espacio desde el borde izquierdo */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con transparencia */
    color: #ffffff;
    padding: 20px;
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil para destacar el div */
    z-index: 15;
    max-height: calc(100vh - 100px); /* Asegura que no se desborde en pantallas pequeñas */
    overflow-y: auto; /* Añade scroll si el contenido es muy largo */
}

#resumen h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #f1f1f1;
}

#resumen p {
    font-size: 14px; /* Texto legible pero no tan grande */
    color: #dcdcdc;
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab {
    padding: 5px 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 8px 4px 0 0;
    font-size: 16px;
    font-weight: 400;
    color: #f1f1f1
}

.pestana {
    display: none;
    margin-top: 20px;
}

.pestana.active {
    display: block;
}